@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font: 1.2em "IBM Plex Mono";
	background-color: #111;
	color: #eee;
	padding: 1em;
	max-width: 60rem;
	margin: 0 auto;
	/* text-align: center; */
}

canvas {
    text-align: center;
}

#program {
    width: 100%;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #74A38A;
}

a:visited {
	text-decoration: none;
	color: #74A38A;
}

#output {
	visibility: hidden;
}
